
.flip{ width:300px; height:400px; margin:10px; float:left;
background:url(../images/background.png); }
.back {
width:300px !important;height:400px !important;	
}
.front {
width:300px !important;height:400px !important;	
}
.flip > .front{
	position:absolute;
	-webkit-transform: perspective( 600px ) rotateY( 0deg );
	transform: perspective( 600px ) rotateY( 0deg );
	background: width:240px; height:200px; border-radius: 7px ;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transition: -webkit-transform .5s linear 0s;
	transition: transform .5s linear 0s;
	background-image:url(../images/cardforground.png);
}
.flip > .back{
	position:absolute;
	-webkit-transform: perspective( 600px ) rotateY( 180deg );
	transform: perspective( 600px ) rotateY( 180deg );
	background: #80BFFF; width:240px; height:200px; border-radius: 7px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transition: -webkit-transform .5s linear 0s;
	transition: transform .5s linear 0s;
	background:url(../images/cardbackground.png);
}


#show {
	padding:30px;
	margin-left:10px;
	margin-top:150px;
	font-weight:bold;
	width:240px;
	height:200px;
	
}

input[type=button] {
background:#dad273;
border:none;
width:100px;	
height:50px;
position:relative;
clear:both;
margin-top:330px;
margin-left:30px;
font-weight:bold;
font-size:18px;
border-radius:10px;

}

#restartbutton {
	visibility:hidden;
	color:white;
}

#startbutton {
visibility:visible;	
color:white;
}
